/deep/ .person_nav .mat-tab-label {
  min-width: 1px !important;
  font-size: 8px !important;

  color: black;
  max-width: 50px;
  min-width: 1px !important;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
  height: 26px;

}
/deep/ .person_nav .mat-tab-header{
  border-bottom-color: #8B0000;
  border-bottom-style: none;
  border-bottom-width: 1px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
mat-tab-group{
  margin-left: 5% !important;
  margin-right: 5% !important;
}
/deep/ .person_nav .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #8B0000 !important;
  opacity: 1;
}
/deep/ .person_nav .mat-tab-label-active{
  background-color: white !important;
  color: black !important;
}

/deep/ .person_nav .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
  background-color: white !important;
}
