<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="用户名" required>

  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="密码" [type]="hide ? 'password' : 'text'"  required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="onCloseLogin()">登录</button>

    <button mat-raised-button (click)="onCloseCancel()">取消</button>

  </div>
</div>
