<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<nav>
<div class="nav">
  <mat-tab-group>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openDialog()">首页</button>
      </ng-template>
    </mat-tab>
    <mat-tab label="|"></mat-tab>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openCharge()">充值/变现</button>
      </ng-template>
    </mat-tab>
    <mat-tab label="|"></mat-tab>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openDialogPublish()">我要发布</button>
      </ng-template>
    </mat-tab>
    <mat-tab label="|"></mat-tab>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button>区块链浏览器</button>
      </ng-template>
    </mat-tab>

    <!--<mat-tab label="">-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon>search</mat-icon>-->
      <!--</ng-template>-->
    <!--</mat-tab>-->

  </mat-tab-group>



</div>
</nav>
