<div class="example-container mat-elevation-z8 game-list" >
  <div class="game_filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="搜索">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="match">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 比赛 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.match}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bet">
      <mat-header-cell *matHeaderCellDef mat-sort-header>投注</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p  *ngIf="element.bet === 0">主胜</p>
        <p  *ngIf="element.bet === 1">主平</p>
        <p  *ngIf="element.bet === 2">主负</p>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef mat-sort-header>比赛结果</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p  *ngIf="element.result === 0">主胜</p>
        <p  *ngIf="element.result === 1">主平</p>
        <p  *ngIf="element.result === 2">主负</p>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 开奖时间 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="bonus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 总奖金 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bonus}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <!--<ng-container matColumnDef="bet">-->
    <!--<mat-header-cell *matHeaderCellDef></mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="lucky">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let element">
        <p class="lucky" *ngIf="element.bet === element.result">中奖！</p>
        <p class="unlucky" *ngIf="element.bet !== element.result">未中奖</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
