<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<nav>
<div class="nav1">
  <mat-tab-group>
    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openDialog()">登录</button>
      </ng-template>
    </mat-tab>

    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openDialog()">注册</button>
      </ng-template>
    </mat-tab>

    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openPerson()">个人中心</button>
      </ng-template>
    </mat-tab>

    <mat-tab label="">
      <ng-template mat-tab-label>
        <button mat-button (click)="openDialog()">帮助</button>
      </ng-template>
    </mat-tab>
    <!--<mat-tab label="">-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon>search</mat-icon>-->
      <!--</ng-template>-->
    <!--</mat-tab>-->

  </mat-tab-group>



</div>
</nav>
