<div class="person_nav">
<mat-tab-group>
  <mat-tab label="世界杯"><app-person-game-list-wc></app-person-game-list-wc></mat-tab>
  <mat-tab label="|" [disabled]="!enabled"></mat-tab>
  <mat-tab label="抢币" ><app-person-game-list-draw></app-person-game-list-draw></mat-tab>
  <mat-tab label="|" [disabled]="!enabled"></mat-tab>
  <mat-tab label="3D"><app-person-game-list></app-person-game-list></mat-tab>
  <mat-tab label="|" [disabled]="!enabled"></mat-tab>
  <mat-tab label="11选3"><app-person-game-list></app-person-game-list></mat-tab>
</mat-tab-group>
</div>
