
<div class="body">

    <button mat-raised-button color="primary" class="index-title">畅玩区 </button>
    <div>
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>俄罗斯2018世界杯</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="/assets/russia2018logo.jpg" alt="Russia 2018">
      <mat-card-content>
        <p>
          玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog_worldcup()" class="join_button">加入</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>
    </div>
  <div>
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>抢币</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="/assets/coins.jpg" alt="Russia 2018">
      <mat-card-content>
        <p>
          玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="join_button">加入</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>3d</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="/assets/3d.jpg" alt="Russia 2018">
      <mat-card-content>
        <p>
          玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog_3d()" class="join_button">加入</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>
    </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>11-3</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <img mat-card-image src="/assets/11.jpg" alt="Russia 2018">
      <mat-card-content>
        <p>
          玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍玩法介绍
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog_113()" class="join_button">加入</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>

  </div>

</div>

