.lucky{
  background-color: #8B0000;
  color: white;
  text-align: center;
  border-radius: 3px;
}
.unlucky{
  background-color: #1a8b3d;
  color: white;
  text-align: center;
  border-radius: 3px;
}
.game-list .mat-cell{
  text-align: center;
}
.game-list .mat-header-cell{
  text-align: center;
}

